@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

.app {
  font-size: var(--font-m);
  font-family: var(--font-family-main);
  background: var(--main-background-color);
  color: var(--primary-text-color);
  min-height: 100vh;
  padding: 20px;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
}
