@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

:root {
  --font-family-main: "Montserrat", sans-serif;
  --font-size-s: 16px;
  --font-size-m: 24px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) / var(--font-family-main);
  --font-size-l: 32px;
  --font-line-l: 48px;
  --font-l: var(--font-size-l) / var(--font-line-l) / var(--font-family-main);
  --font-size-xl: 48px;
  --font-size-2xl: 64px;
  --font-size-3xl: 72px;
  --font-size-4xl: 112px;


  // sizes

  --navbar-height: 70px;
  --sidebar-width: 300px;
  --sidebar-collapsed-width: 60px;

  //colors

  --primary-text-color: #9399a2ff;
  --background-color: #eaecef;
}
