.app.dark {
  --bg-color: #171923;
  --inverted-bg-color: #fff;

  --primary-color: #fff;

  --secondary-color: #04ff04;


  //button colors

  --submit-button-bg: #38B2AC;

  --cancel-button-bg: transparent;
  --cancel-button-outline: #38B2AC;


  --disabled-button-bg: #285E61;
  --disabled-button-color: #1D3044;

  --outlined-color: white;
} 