.app.dark {
  --bg-color: #171923;
  --inverted-bg-color: #4fd1c5;
  --primary-color: #4fd1c5;
  --secondary-color: #04ff04;

  // button colors

  --submit-button-bg: #285e61;
  --cancel-button-bg: transparent;
  --cancel-button-outline: #38b2ac;
  --disabled-button-bg: #285e61;
  --disabled-button-color: #1d3044;
  --outlined-color: #4fd1c5;
  --sidebar-bg: #171923;
  --sidebar-open-bg: #285e61;
}
