.app.light {
  --bg-color: #fff;
  --inverted-bg-color: #171923;
  --primary-color: #2d3748;
  --secondary-color: #b4ccff;

  // button colors

  --submit-button-bg: #38a169;
  --submit-button-color: #fff;
  --cancel-button-bg: #fff;
  --cancel-button-outline: #38a169;
  --disabled-button-bg: #e2e8f0;
  --disabled-button-color: #718096;
  --outlined-color: #2d3748;

  //sidebar 

  --sidebar-bg: #fff;
  --sidebar-open-bg: #81E6D9;

  //other 

  --main-title-color: #81E6D9;


  --primary-text-color: #000;
  --secondary-text-color: #9399A2;
  --background-color: #eaecef;
  --main-background-color: #fff;
}
