.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: var(--navbar-height);
  background: var(--bg-color);
  justify-content: space-between;
  border-bottom: 1px solid var(--inverted-bg-color);
}

.rightBar {
  display: flex;
  column-gap: 10px;
}

.links {
  display: flex;
  color: var(--secondary-color);
  column-gap: 5px;

}


.logo {
  color: var(--secondary-color);
}

.github {
  display: flex;
  border-radius: 7px;
  cursor: pointer;
  padding: 3px;
  outline: 1px solid var(--inverted-bg-color);
}

.githubRef {
  all: unset;
}