.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  font-size: 12px;
  justify-content: space-between; 
  background-color: var(--background-color);
  border-radius: 20px;
  height: calc(100vh - 40px);
  min-width: 130px;
}

.routeContainer {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-s);
  align-items: center;
  row-gap: 10px;
  color: var(--primary-text-color);
}

.leftBar {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.links {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.logo {
  color: var(--primary-color);
}
