.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: var(--navbar-height);
  background: var(--bg-color);
  justify-content: space-between;
  border-bottom: 1px solid var(--inverted-bg-color);
}

.rightBar {
  display: flex;
  column-gap: 10px;
}

.leftBar {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.links {
  display: flex;
  column-gap: 20px;
  margin-right: 50px;
}

.logo {
  color: var(--primary-color);
}
