.SevenDayForecast {
    border-radius: 20px;
    padding: 200px;
    background-color: var(--background-color);
}

.week {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-text-color);
    column-gap: 20px;
}