.Location {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 40px;
    height: 100%;
}

.city {
    font-size: var(--font-size-3xl);
}

.temp {
    font-size: var(--font-size-4xl);
    line-height: 90px;
}

.leftBlock,
.rightBlock {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.feelsLike,
.percent {
    font-size: var(--font-size-l)
}

.tempAndCondition {
    display: flex;
    margin-bottom: 20px;
    column-gap: 10px;
}

.condition {
    display: flex;
    align-items: end;
    font-size: var(--font-size-l);
    font-weight: 500;
    white-space: nowrap;
}

.East {
    transform: rotate(90deg) ;
}

.West {
    transform: rotate(-90deg);
}

.South {
    transform: rotate(180deg);
}

.SouthWest {
    transform: rotate(-135deg);
}

.NorthWest {
    transform: rotate(-45deg);
}

.SouthEast {
    transform: rotate(135deg);
}

.NorthEast {
    transform: rotate(45deg);
}

.wind {
    color: var(--primary-text-color);
    width: 130px;
}

.windContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: var(--font-size-m);
}