.AirProp {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.value {
    font-size: var(--font-size-xl);
}

.title {
    font-size: var(--font-size-s);
    color: var(--primary-text-color);
    line-height: var(--font-line-m);
}