.AirConditions {
    width: 100%;
    padding: 20px;
    height: auto;
    background-color: var(--background-color)   ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    padding: 10px 30px;

}

.properties {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}

.leftBlock,
.rightBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 30px;
}